* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #F0DACD;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 5vw;
}

header ul {
    width: 20vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


header a{
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    text-decoration: none;
    color: #F0DACD;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);

}

li{
    transition: 0.3s ease-in-out;
}
li :hover{
    translate: 0 -0.3vw;
}

.hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.hero h1{
    font-family: sans-serif;
    font-size: 7vw;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    color: #F0DACD;

}

.form {
    width: 100vw;
    height: 90vh;
    background-color: #d9f0cd;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form_container{
    width: 30vw;
    height: 50vh;
    background-color: #F0DACD;
    border-radius: 2vw;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.form_container div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form h2{
    font-family: sans-serif;
    font-size: 3vw;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    color: #F0DACD;
}

.form img{
    width: 5vw;
}

.form p{
  font-family: sans-serif;
  font-size: 1.5vw;
  text-align: center;
  text-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  color: #F0DACD;
  padding: 0 1vw;
}

.form input{
    width: 70%;
    border: none;
    outline: none;
    border-radius: 0.2vw;
    padding: 1vw;
}

.form button{
    border: none;
    border-radius: 0.2vw;
    background-color: #F0DACD ;
    text-transform: uppercase;
    padding: 0.7vw 1.5vw;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1vw;
    color: gray;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color:#F0DACD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

footer img{
    width: 5vw;
}

footer span{
    font-family: sans-serif;
    font-size: 1.5vw;
}

html{
    scroll-behavior: smooth;
}
